.idea
node_modules
**/node_modules/**
*.env
frontend/bindings
/logs/*
build/bin/*
bin/*
lolskin
.task
backend/cmd/updater/dist/assets
frontend/packages/main/dist/assets
bindings
*.syso
/build/icons.icns
/build/windows/icons.ico
/build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
/build/windows/nsis/Nexus-Setup-1.0.0.exe
logs
*.log
dist
**/mocks/
/frontend/.pnpm-store
