.idea
node_modules
*.env
frontend/bindings
/logs/*
build/bin/*
bin/*
.task
bindings
*.syso
dist
/build/icons.icns
/build/windows/icons.ico
/build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
/build/windows/nsis/Nexus-Setup-1.0.0.exe
