name: Release e Deploy de Atualização

on:
  push:
    tags:
      - 'v*'  # Ativa quando uma tag com formato 'v*' é empurrada (ex: v1.0.1)

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install Wails
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest

      - name: Obter versão da tag
        id: get_version
        shell: bash
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Build Wails
        env:
          APP_VERSION: ${{ env.VERSION }}
        run: |
          wails build -ldflags "-X github.com/hex-boost/hex-nexus-app/backend/updater.Version=${{ env.VERSION }}"

      - name: Upload para o servidor de atualização
        shell: bash
        env:
          API_KEY: ${{ secrets.API_KEY }}
          API_URL: ${{ secrets.API_URL }}
        run: |
          curl -X POST ${{ env.API_URL }}/api/versions" \
          -H "Authentication: Bearer ${{ env.API_KEY }}" \
          -H "Content-Type: application/json" \
          -d "{\"data\":{\"version\":\"${{ env.VERSION }}\"}}" \
          -o response.json
          VERSION_ID=$(cat response.json | jq -r '.data.id')
          cp build/bin/nexus.exe "build/bin/nexus-${{ env.VERSION }}.exe"
          curl -X POST "https://nexus-back.up.railway.app/api/upload" \
          -H "Authentication: Bearer ${{ env.API_KEY }}" \
          -F "files=@build/bin/nexus-${{ env.VERSION }}.exe" \
          -F "refId=$VERSION_ID" \
          -F "ref=api::version.version" \
          -F "field=file" \
          -L