name: Release e Deploy de Atualização

on:
  push:
    tags:
      - 'v*'  # Ativa quando uma tag com formato 'v*' é empurrada (ex: v1.0.1)

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'
      - name: Install frontend dependencies
        run: |
          cd frontend
          npm install
          npm run build

      - name: Generate Bindings
        run: wails3 generate bindings -clean=true

      - name: Generate Icons
        run: |
          cd build
          wails3 generate icons -input appicon.png -windowsfilename windows/icon.ico

      - name: Update Build Assets
        run: |
          cd build
          wails3 update build-assets -name "Nexus" -binaryname "Nexus" -config config.yml -dir .

      - name: Generate Syso
        run: |
          cd build
          wails3 generate syso -arch amd64 -icon windows/icon.ico -manifest windows/wails.exe.manifest -info windows/info.json -out ../wails_windows_amd64.syso

      - name: Build Frontend
        run: |
          cd frontend
          npm run build
        env:
          VITE_APP_VERSION: ${{ env.VERSION }}
          VITE_API_URL: ${{ secrets.API_URL }}

      - name: Install Wails
        run: go install -v github.com/wailsapp/wails/v3/cmd/wails3@latest

      - name: Get Tag Version
        id: get_version
        shell: bash
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Build Wails
        run: |
          go build -tags production -trimpath -buildvcs=false -ldflags="-X github.com/hex-boost/hex-nexus-app/backend/updater.Version=${{ env.VERSION }} -X github.com/hex-boost/hex-nexus-app/backend/updater.BackendURL=${{secrets.API_URL}} -w -s -H windowsgui" -o bin/Nexus${{ env.VERSION }}.exe .

      - name: Upload to Update Server
        shell: bash
        env:
          API_KEY: ${{ secrets.API_KEY }}
          API_URL: ${{ secrets.API_URL }}
        run: |
          VERSION_ID=$(curl -s -X POST "${{env.API_URL}}/api/versions"
          -H "Authorization: Bearer ${{ env.API_KEY }}" \
          -H "Content-Type: application/json"
          -d "{\"data\":{\"version\":\"${{ env.VERSION }}\"}}" | grep -o '"id":[0-9]*' | head -1 | sed 's/"id"://')

          curl -X POST "${{env.API_URL}}/api/upload" -H "Authentication: Bearer ${{ env.API_KEY }}" -F "files=@build/bin/nexus-${{ env.VERSION }}.exe" -F "refId=$VERSION_ID" -F "ref=api::version.version" -F "field=file" -L
